[Desktop Entry]
Type=Application
Name=KDE Script Launcher
Exec=python3 /home/twain/Projects/MyApps/main.py
Icon=/home/twain/Projects/MyApps/alien_icon.png
Comment=Launch scripts from the system tray
X-GNOME-Autostart-enabled=true
Hidden=false